In [1]:
p_1=("DC",22)

In [2]:
type(p_1)

tuple

In [3]:
p_1=("DC",)

In [5]:
p_2=("DC",22,"DHAKA")

In [7]:
p_2[-1]

'DHAKA'

In [8]:
number=([1,3,5],[7,9,11])

In [9]:
number[0]

[1, 3, 5]

In [10]:
number[0][1]=13

In [11]:
number[0]

[1, 13, 5]

In [12]:
number

([1, 13, 5], [7, 9, 11])

In [2]:
a=(1,2,5,5,6,9,9,4,5,5,5,5,5,)

In [3]:
a.count(5)

7

In [4]:
a.index(9)

5

In [5]:
len(a)

13

In [6]:
max(a)

9

In [7]:
min(a)

1

In [8]:
del(a)

In [9]:
a

NameError: name 'a' is not defined

In [36]:
ages=(4,5,7,3,4,8,5,8,5)

In [11]:
sum(b)

28

In [44]:
def age_primary(age):
    if 5<=age<=11:
        return True
    else:
        return False

In [45]:
ages_primary= filter(age_primary,ages)

In [46]:
for age in ages_primary:
        print(age)

5
7
8
5
8
5

In [47]:
ages_primary

# Set

In [48]:
weather={'rainy','sunny','snowy','sunny','snowy'}

In [49]:
weather

{'rainy', 'snowy', 'sunny'}

In [50]:
name=set()

In [51]:
type(name)

set

In [52]:
weather.add('stormy')  #adding

In [53]:
weather

{'rainy', 'snowy', 'stormy', 'sunny'}

In [55]:
weather.pop() #delete random element

'rainy'

In [57]:
weather.remove('sunny')#removing particular element

In [58]:
weather

{'snowy', 'stormy'}

In [59]:
weather.clear()

In [60]:
weather

set()

In [64]:
s1={1,3,5,7}
s2={7,11,13,15}

In [65]:
odd=s1.union(s2)  #  s1 | s2

In [66]:
odd

{1, 3, 5, 7, 11, 13, 15}

In [69]:
xx=s1 & s2 #s1.intersection(s2)

In [70]:
xx

{7}

In [71]:
x2=s1-s2 #s1.difference(s2)

In [72]:
x2

{1, 3, 5}

In [74]:
x3=s1 ^s2  #s1.symmetric_difference(s2)
x3

{1, 3, 5, 11, 13, 15}

In [75]:
7 in s1

True

In [76]:
8 in s1

False

In [77]:
# delete entire set
del s1

In [78]:
s1

NameError: name 's1' is not defined

In [79]:
s2.remove(15)

In [80]:
s2

{7, 11, 13}

In [81]:
print(s2.discard(1))

None